.loginForm {
  width: 100%;
  height: 55vh;
}

.formConnexion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labels {
  width: 80%;
  min-width: 250px;
  max-width: 600px;
  margin: 1%;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputs {
  width: 80%;
  min-width: 250px;
  max-width: 600px;
  margin: 1%;
  padding: 1%;
  font-size: 1.5rem;
  border-radius: 10px;
  outline-color: rgb(12, 12, 148);
}

.btnConnect {
  width: 30%;
  min-width: 70px;
  max-width: 150px;
  margin: 5%;
  padding: 1%;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: white;
}
.btnConnect:hover {
  background-color: gray;
  color: white;
  font-weight: bolder;
  border: transparent;
  box-shadow: 3px 3px 1px 1px rgba(12, 12, 148, .2);
}